# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.ini text

# Keep these files from archive/exports, mainly from production.
.gitignore     export-ignore
.gitattributes export-ignore
README.md      export-ignore
